{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Aviation Job Board</title>

  <!-- Bootstrap core CSS -->
  
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
  <link href="{% sass_src 'front/scss/nav/nav.scss' %}" rel="stylesheet" type="text/css" /> 

</head>

<body>

  <!-- Navigation -->
   
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
     

    <div class="container">
    
      {% comment %} <a class="navbar-brand" href="#">Aviation Job Board</a> {% endcomment %}
      {% comment %} <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> {% endcomment %}

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'event_list' %}">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Forum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          {% if user.is_authenticated %}
          {% if request.user.groups.all.0.name == "jobseeker" %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'userProfile-home' %}">Profile</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'company_profile' %}">Company Profile</a>
            </li>
          {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'choose_register' %}">Register</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
    
  </nav>
<!-- CODE I (DANY)  WAS TESTING DELETE SOON-->
<!--  <p>-->
<!--    {{ user }}-->
<!--    <br>-->
<!--    {% for group in user.groups.all %}-->
<!--      {{ group }}-->
<!--    {% endfor %}-->
<!--    <br>-->
<!--    {{ a_filter }}-->
<!--    {{ wtf }}-->
<!--    <br>-->
<!--    working {{ wtf }}-->
<!--  </p>-->
    
  


  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
  <script src='../static/front/js/nav.js'defer ></script>

  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  {% if messages %}
    {% for message in messages %}
      <div class="'alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
   {% endif %}
{% block content %}

{% endblock content %}

</body>

</html>
