{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container" style="top:50px; position:relative; ">

    <h1 >Job Post Submission</h1>

    <div class = "col-md-8">
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ pj_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Done</button>
        </div>
    </form>
</div>
    </div>
    


{% endblock %}