{% extends "base.html" %}
<head>
   <link href="{% sass_src 'front/scss/landing/landing.scss' %}" rel="stylesheet" type="text/css" />
   <script src='../static/front/js/landing.js' defer></script>
</head>

<div class="expandToggle" id ="expandToggle" >
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Messages</a></li>
        <li><a href="#">Settings</a></li>
      </ul>
    </div>

<div class="expandToggle" id ="expandToggle" >
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Messages</a></li>
        <li><a href="#">Settings</a></li>
      </ul>
    </div> 